@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Playpen+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=poppins:wght@100;300;400;500;600&display=swap");

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0, 0.1);
  --outline: 1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 2rem solid rgba(--black);
}
* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background: #eee;
}
section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}
.heading span {
  background: var(--orange);
  color: white;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1.3rem 3rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  text-decoration: none;
  background: none;
}

.btn:hover {
  background: var(--orange);
  color: white;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
  text-decoration: none;
}
header .logo i {
  color: var(--orange);
}
header .logo {
  font-family: "Oswald", sans-serif;
}
header nav a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
  text-decoration: none;
}
header nav a:hover {
  color: var(--orange);
}

header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-left: 0.3rem;
  text-align: center;
  cursor: pointer;
}
header .icons div:hover {
  background: var(--orange);
  color: #fff;
}
/* media query ile display:inline-block yapacagiz */
#menu-btn {
  display: none;
}

header .search-form {
  position: absolute;
  top: 110%;
  right: -110rem;
  width: 50rem;
  height: 5rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
  padding: 0 1.5rem;
}

header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
header .search-form label:hover {
  color: var(--orange);
}

header .shopping-cart {
  position: absolute;
  top: 110px;
  right: -110rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 32rem;
  background: #fff;
  max-height: 40rem;
  overflow: auto;
}
header .shopping-cart h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-family: cursive;
  background-color: #9f9e9e;
  padding: 1rem;
  border-radius: 0.5rem;
}
header .shopping-cart.active {
  right: 2rem;
  transition: 0.4s linear;
}

header .shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: rem 0;
}

header .shopping-cart .box img {
  height: 8rem;
  margin-right: 2rem;
}
header .shopping-cart .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--light-color);
  transform: translateY(-50%);
}
header .shopping-cart .box .fa-trash:hover {
  color: red;
}

header .shopping-cart .box .content h3 {
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

header .shopping-cart .box .content span {
  color: var(--light-color);
  font-size: 1.6rem;
}

header .shopping-cart .box .content .quantity {
  padding-left: 1rem;
}

header .shopping-cart .total {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--black);
}
header .shopping-cart .btn {
  display: block;
  text-align: center;
  margin: 1rem;
}

header .login-form {
  position: absolute;
  top: 110%;
  /* reight:2rem di ama sayfada belli olmasin diye -110% yaptik  */
  right: -110%;
  width: 30rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  background: white;
  text-align: center;
}

header .login-form input:hover {
  /* border: 0.2rem solid #b8afaf; */
  box-shadow: 0.4rem 0.4rem 1rem #b8afaf, -0.4rem -0.4rem 1rem #b8afaf;
}

header .login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

header .login-form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 3rem;
}

header .login-form .box {
  width: 100%;
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 2rem;
}

header .login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: var(--light-color);
}
header .login-form .btn {
  margin-top: 2rem;
  width: 50%;
}

header .login-form a {
  color: var(--orange);
}

header .login-form a:hover {
  font-weight: bold;
}

/* anlik saati style'i koyalim */
header .clock {
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 110%;
  /* reight:2rem di ama sayfada belli olmasin diye -110% yaptik  */
  right: -110%;
  background: white;
  padding: 2rem 3rem;
  border-radius: 2rem;
}
header .clock:hover {
  background: var(--orange);
  color: white;
}
header .clock.active {
  right: 2rem;
  transition: 0.4s linear;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("") no-repeat;
  background-color: rgb(255, 230, 153);
  background-position: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}
.home .content {
  text-align: center;
  width: 60rem;
}
.home .content h3 {
  color: var(--black);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.home .content h3 span {
  color: var(--orange);
}
.home .content p {
  color: var(--light-color);
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 1.8;
}
.categories h2 {
  font-size: 3rem;
  text-decoration: bold;
}

.categories .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1.5rem;
}

.categories .box-container .box {
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  background: white;
  border: 0.5rem solid var(--light-color);
  text-align: center;
}

.categories .box-container .box:hover {
  border: 1rem solid var(--black);
}
.categories .box-container .box img {
  margin: 1rem 0;
}
.categories .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  line-height: 1.8;
}

.review .review-slider {
  padding: 1rem;
}
.review .wrapper {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.review .review-slider .box {
  margin: 1rem;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  background: white;
  border: 0.3rem solid var(--light-color);
  text-align: center;
  transition: 0.2s linear;
}
.review .review-slider .box:hover {
  border: var(--black);
  outline: 0.7rem solid var(--black);
}
.review .review-slider .box img {
  border-radius: 50%;
}
.review .review-slider .box p {
  padding: 1rem 0;
  line-height: 1.8;
  color: var(--light-color);
  font-size: 1.5rem;
}

.review .review-slider .box {
  padding-bottom: 0.5rem;
  color: var(--black);
  font-size: 2.2rem;
}

.review .review-slider .box .stars i {
  color: var(--orange);
  font-size: 1.7rem;
}
.about-us .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-us .row .image-col img {
  border-radius: 1.5rem;
  box-shadow: 2rem 2rem 1rem rgb(205, 194, 194);
  cursor: pointer;
  width: 50rem;
  height: 50rem;
}
.about-us .row .image-col img:hover {
  box-shadow: 2rem 2rem 1rem rgb(161, 154, 154);
}

.about-us .row .content-col {
  text-align: justify;
  margin-left: 8rem;
  line-height: 3.2rem;
  font-size: 2.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contack-section {
  margin-top: 8rem;
}
.contact {
  display: flex;
  justify-content: center;
}
.contact form {
  border: 0.3rem solid var(--black);
  border-radius: 5rem;
  width: 50rem;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.contact form input,
textarea {
  align-items: center;
  margin: 1.5rem 2rem 3rem 2rem;
  width: 90%;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0.2rem solid rgb(213, 208, 208);
}
.contact form label {
  font-size: 1.5rem;
  margin-left: 3rem;
}
.contact form input:hover,
textarea:hover {
  background-color: rgb(250, 246, 246);
  border: 0.2rem solid var(--black);
}
.contact form input[type="submit"] {
  border: 0.2rem solid var(--black);
  background-color: var(--black);
  color: white;
  width: 30%;
  margin-left: 35%;
}
.contact form input[type="submit"]:hover {
  background-color: rgb(1, 1, 35);
  cursor: pointer;
}

.footer {
  background-color: #fff;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box h3 i {
  color: var(--orange);
}
.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: var(--orange);
  padding-right: 0.5rem;
}

.footer .box-container .box a i span {
  color: var(--light-color);
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}
/* Contact Info"lere ve Quick Link'lere hover yaptigimda  */
.footer .box-container .box a i span:hover {
  margin-left: 2.5rem;
  font-weight: bold;
  text-shadow: 0.3rem 0.3rem 0.2rem #b2b2b2;
}
.footer .box-container .box p {
  line-height: 1.8;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
  width: 27rem;
  text-align: justify;
}

.footer .box-container .box .share a {
  display: inline-block;
  margin-left: 2rem;
  padding: 1rem;
  background-color: #eee;
  color: var(--black);
  border-radius: 1rem;
  text-decoration: none;
}
.footer .box-container .box .share a:hover {
  color: white;
  background-color: var(--black);
}

.Copyright {
  text-align: center;
  color: white;
  font-weight: bold;
  background: var(--black);

  padding: 2rem 0 1rem 0;
}

/* sayfamizi butun ekranlara uygun olmasi icin media queri yapmamiz gerekir */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
  section {
    padding: 2 rem;
  }
  .about-us .row {
    flex-direction: column;
  }
  .about-us .row .content-col {
    margin-top: 5rem;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  header .search-form {
    width: 90%;
  }
  header nav {
    position: absolute;
    top: 110%;
    /* burdaki right:2rem di ama menu butuna tikladigimizda cikmasi icin right:-110% yaptim */
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: white;
  }

  header nav.active {
    right: 2rem;
    transition: 0.4rem linear;
  }
  header nav a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 2.5rem;
  }
}

/* change body mode kismi */
.toggle-btn {
  font-size: 0.9rem;
  border: 1px solid var(--black);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: var(--black);
  color: white;
  cursor: pointer;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #333333;
  color: #ffffff;
  .toggle-btn {
    background-color: white;
    color: var(--black);
  }
}
